{% liquid
  if section.settings.section_width != 'page-width'
    if section.settings.section_width == 'full-width'
      assign page_width = '100%'
    endif
    if section.settings.section_width == 'customize_width'
      assign page_width = section.settings.customize_width | plus: 80 | append: 'px'
    endif
  endif
%}
<div
  class="certification-section bg-custom"
  data-section-id="{{ section.id }}"
  data-section-type="certification-section"
  style="--background-custom: {{ section.settings.bg }}"
>
  <div
    class="page-width"
    style="{% if section.settings.section_width != 'page-width' %}--page-width: {{ page_width }}{% endif %}"
  >
    {%- if section.settings.title != blank or section.settings.description != blank -%}
      <div class="section-header">
        {%- if section.settings.title != blank -%}
          <h2 class="section-header__title">{{ section.settings.title }}</h2>
        {%- endif -%}
        {%- if section.settings.description != blank -%}
          <div class="rte text-lg">{{ section.settings.description }}</div>
        {%- endif -%}
      </div>
    {%- endif -%}
    <div class="certification-content">
      <div class="certification-slider" id="Certification-{{ section.id }}">
        {%- for block in section.blocks -%}
          <div class="certification-item w-full flex small--flex-col">
            <div
              class="certification-item__banner w-full grid__image-ratio grid__image-ratio--wide ovh"
              style="{% if block.settings.banner != blank %}--padding-bottom: {{ 1 | divided_by: block.settings.banner.aspect_ratio | times: 100 }}%;{% endif %}"
            >
              {% liquid
                assign hide_image_desktop = ''
                if block.settings.banner_mobile != blank
                  assign hide_image_desktop = 'small--hide'
                endif
              %}
              {%- if block.settings.banner != blank -%}
                {%- render 'image-element',
                  img: block.settings.banner,
                  img_width: block.settings.banner.width,
                  img_height: block.settings.banner.height,
                  classes: hide_image_desktop,
                  loading: 'lazy'
                -%}
              {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}

              {%- if block.settings.banner_mobile != blank -%}
                {%- render 'image-element',
                  img: block.settings.banner_mobile,
                  img_width: block.settings.banner_mobile.width,
                  img_height: block.settings.banner_mobile.height,
                  classes: 'medium-up--hide',
                  loading: 'lazy'
                -%}
              {%- endif -%}
            </div>
            <div class="certification-item__content small--text-center">
              {%- if block.settings.title -%}
                <h3 class="title m-0 rte c-heading text-3xl f-bold">{{ block.settings.title }}</h3>
              {%- endif -%}
              {%- if block.settings.description -%}
                <div class="description">{{ block.settings.description }}</div>
              {%- endif -%}
              {%- if block.settings.image -%}
                <div class="image">
                  {%- render 'image-element',
                    img: block.settings.image,
                    img_width: block.settings.image.width,
                    img_height: block.settings.image.height,
                    loading: 'lazy'
                  -%}
                </div>
              {%- endif -%}
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Certification",
  "class": "index-section",
  "disabled_on": {
    "groups": ["footer", "header", "custom.popups"]
  },
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "full-width",
          "label": "t:sections.all.section_width.options__1"
        },
        {
          "value": "page-width",
          "label": "t:sections.all.section_width.options__2"
        },
        {
          "value": "customize_width",
          "label": "t:sections.all.section_width.options__3"
        }
      ],
      "default": "page-width",
      "label": "t:sections.all.section_width.label"
    },
    {
      "type": "range",
      "id": "customize_width",
      "min": 1000,
      "max": 1800,
      "step": 10,
      "default": 1800,
      "unit": "px",
      "label": "t:sections.all.customize_width.label"
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Background",
      "default": "#F0F7FE"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.all.heading.label",
      "default": "Heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.description.label",
      "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "banner",
          "label": "Banner"
        },
        {
          "type": "image_picker",
          "id": "banner_mobile",
          "label": "Banner mobile"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "t:sections.all.heading.label",
          "default": "<p>Slide title</p>"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:sections.all.description.label",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Certification",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
